@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
@font-face {
  font-family: 'Circe';
  font-weight: 300;
  font-style: normal;
  src: local("Circe-Light"), url("../fonts/Circe-Light.woff2") format("woff2"), url("../fonts/Circe-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  font-weight: 400;
  font-style: normal;
  src: local("Circe-Regular"), url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  font-weight: 700;
  font-style: normal;
  src: local("Circe-Bold"), url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff");
  font-display: swap;
}

.home-about__text {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header-nav__phone {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.footer__copyright, .footer__email, .footer__phone {
  font-family: "Circe", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.link, .title, .banner__title {
  font-family: "Circe", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.container {
  max-width: 1690px;
  padding: 0 15px;
  margin: 0 auto;
}

body,
html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.link {
  padding: 21px 35px;
  background: #fff101;
  font-size: 20px;
  line-height: 130%;
  color: #000;
  display: inline-block;
  margin: 0;
}

.title {
  font-size: 30px;
  line-height: 130%;
  color: #000;
  padding-left: 33px;
  margin-bottom: 75px;
  position: relative;
}

.title::before {
  position: absolute;
  content: "";
  background: #fff101;
  width: 14px;
  height: 69px;
  left: 0;
  top: 0;
}

.index {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#dd06ee), to(#185ced));
  background: linear-gradient(0deg, #dd06ee 0%, #185ced 100%);
}

.index__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  height: 100vh;
}

.index a {
  color: #fff;
  text-align: center;
  font-size: calc(22px + 12 * (100vw / 1920));
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.index a:hover {
  color: purple;
}

@media (max-width: 767px) {
  .index a {
    font-size: calc(22px + (12 + 12 * 0.7) * ((100vw - 320px) / 1920));
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 0 25px;
}

.header-nav__logo {
  position: absolute;
  top: 0;
}

.header-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 188px;
  gap: 0 90px;
}

.header-nav__link {
  font-size: 18px;
  line-height: 188.5%;
}

.header-nav__phone {
  font-size: 24px;
  line-height: 188.5%;
}

.banner {
  background: linear-gradient(89.63deg, #000 0.32%, rgba(0, 0, 0, 0) 101.15%), url("../img/home/bg.jpg") center center no-repeat;
  padding: 179px 0;
}

.banner__title {
  max-width: 695px;
  font-size: 55px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 51px;
}

.banner__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 23px;
}

.home-about {
  padding: 150px 0 75px;
}

.home-about__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 840px) minmax(100px, 737px);
      grid-template-columns: minmax(100px, 840px) minmax(100px, 737px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 30px;
}

.home-about__title::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #d8232a;
  width: 14px;
  height: 8px;
}

.home-about__text {
  font-size: 20px;
  line-height: 188.5%;
  color: #000;
}

.home-about__text + .home-about__text {
  margin-top: 60px;
}

.certificate {
  padding: 75px 0;
}

.certificate__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 400px))[4];
      grid-template-columns: repeat(4, minmax(100px, 400px));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.certificate__card {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 583px;
  background: rgba(217, 217, 217, 0.45);
}

.footer {
  padding: 58px 0 64px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright, .footer__email, .footer__phone {
  font-size: 20px;
  line-height: 130%;
  opacity: 0.44;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 25px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 18px;
}

.footer__item a {
  opacity: 0.95;
}

.footer__images {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 46px;
  height: 46px;
  background: #fff101;
}
/*# sourceMappingURL=style.css.map */