@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
@font-face {
  font-family: 'Circe';
  font-weight: 300;
  font-style: normal;
  src: local("Circe-Light"), url("../fonts/Circe-Light.woff2") format("woff2"), url("../fonts/Circe-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  font-weight: 400;
  font-style: normal;
  src: local("Circe-Regular"), url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  font-weight: 700;
  font-style: normal;
  src: local("Circe-Bold"), url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff");
  font-display: swap;
}

.text, .home-about__text, .about__text, .product__text {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header-nav__phone {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.tool__list li, .footer__copyright, .footer__email, .footer__phone {
  font-family: "Circe", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.tools__name, .tool__card-name, .contacts__subtitle {
  font-family: "Circe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.link, .title, .banner__title, .feedback__text, .feedback .jq-file__name, .tool__body-name, .contacts__phone, .contacts__email, .contacts__address {
  font-family: "Circe", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.container {
  max-width: 1690px;
  padding: 0 15px;
  margin: 0 auto;
}

body,
html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.link {
  padding: 21px 35px;
  background: #fff101;
  font-size: 20px;
  line-height: 130%;
  color: #000;
  display: inline-block;
  margin: 0;
}

.title {
  font-size: 30px;
  line-height: 130%;
  color: #000;
  padding-left: 33px;
  margin-bottom: 75px;
  position: relative;
  padding-top: 15px;
}

.title::before {
  position: absolute;
  content: "";
  background: #fff101;
  width: 14px;
  height: 69px;
  left: 0;
  top: 0;
}

.text {
  max-width: 840px;
  font-size: 20px;
  line-height: 188.5%;
  margin-bottom: 50px;
}

.index {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#dd06ee), to(#185ced));
  background: linear-gradient(0deg, #dd06ee 0%, #185ced 100%);
}

.index__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  height: 100vh;
}

.index a {
  color: #fff;
  text-align: center;
  font-size: calc(22px + 12 * (100vw / 1920));
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.index a:hover {
  color: purple;
}

@media (max-width: 767px) {
  .index a {
    font-size: calc(22px + (12 + 12 * 0.7) * ((100vw - 320px) / 1920));
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 0 25px;
}

.header-nav__logo {
  position: absolute;
  top: 0;
  z-index: 2;
}

.header-nav__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 188px;
  width: 100%;
}

.header-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 90px;
}

.header-nav__link {
  font-size: 18px;
  line-height: 188.5%;
}

.header-nav__phone {
  font-size: 24px;
  line-height: 188.5%;
}

.header-nav__btn {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  margin-left: auto;
  display: none;
  z-index: 2;
}

.header-nav__btn span,
.header-nav__btn span::after,
.header-nav__btn span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translateY(-50%); */
  margin-top: -1px;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background: #222;
}

.header-nav__btn span::after,
.header-nav__btn span::before {
  content: "";
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.header-nav__btn span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header-nav__btn span::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.header-nav__btn__active span::before {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  width: 10px;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.header-nav__btn__active span::after {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 10px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.banner {
  background: linear-gradient(89.63deg, #000 0.32%, rgba(0, 0, 0, 0) 101.15%), url("../img/home/bg.jpg") center center no-repeat;
  padding: 179px 0;
}

.banner__title {
  max-width: 695px;
  font-size: 55px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 51px;
}

.banner__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 23px;
}

.home-about {
  padding: 150px 0 75px;
}

.home-about__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 840px) minmax(100px, 737px);
      grid-template-columns: minmax(100px, 840px) minmax(100px, 737px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: yellowgreen;
  gap: 0 30px;
}

.home-about__title::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #d8232a;
  width: 14px;
  height: 8px;
}

.home-about__text {
  font-size: 20px;
  line-height: 188.5%;
  color: #000;
}

.home-about__text + .home-about__text {
  margin-top: 60px;
}

.certificate {
  padding: 75px 0;
}

.certificate__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 400px))[4];
      grid-template-columns: repeat(4, minmax(100px, 400px));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.certificate__card {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 583px;
  background: rgba(217, 217, 217, 0.45);
  display: grid;
}

.tools {
  padding: 75px 0;
}

.tools__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 260px))[6];
      grid-template-columns: repeat(6, minmax(50px, 260px));
  gap: 20px;
}

.tools__card {
  min-height: 227px;
  background: #fff;
  -webkit-box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.17);
          box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.17);
  display: -ms-grid;
  display: grid;
  place-content: center;
  justify-items: center;
  text-align: center;
  padding: 0 35px;
}

.tools__name {
  margin-top: 31px;
  font-size: 20px;
  line-height: 130%;
}

.video {
  padding: 75px 0 258px;
}

.video__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 820px))[2];
      grid-template-columns: repeat(2, minmax(100px, 820px));
  gap: 20px;
}

.video__card {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: rgba(217, 217, 217, 0.45);
  min-height: 424px;
}

.feedback {
  background: #323232;
}

.feedback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.feedback__text {
  max-width: 820px;
  font-size: 55px;
  line-height: 130%;
  color: #fff;
  padding: 129px 0 0 40px;
  position: relative;
}

.feedback__text::before {
  position: absolute;
  content: "";
  left: 0;
  top: 129px;
  width: 14px;
  height: 309px;
  background: #fff101;
}

.feedback__form {
  max-width: 820px;
  padding: 60px 60px 50px;
  min-height: 575px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-114px);
          transform: translateY(-114px);
}

.feedback__input + .feedback__input {
  margin-top: 20px;
}

.feedback__textarea {
  margin-top: 20px;
  min-height: 112px;
}

.feedback__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 37px;
}

.feedback .jq-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 16px;
}

.feedback .jq-file__browse {
  display: block;
  width: 46px;
  height: 46px;
  background: #fff101;
  font-size: 0;
  background: url("../img/icons/file.svg") center center no-repeat #fff101;
}

.feedback .jq-file__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 130%;
  color: #000;
}

.about {
  padding: 141px 0 150px;
}

.about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px 20px;
}

.about__description:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.about__description:last-child {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.about__text {
  font-size: 20px;
  line-height: 188.5%;
}

.about__text + .about__text {
  margin-top: 60px;
}

.about__img {
  width: 737px;
  height: 532px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  background: firebrick;
}

.about__img::after {
  position: absolute;
  content: "";
  right: -24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 370px;
  background: #fff101;
}

.product {
  padding: 109px 0 75px;
}

.product__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 680px) minmax(100px, 840px);
      grid-template-columns: minmax(100px, 680px) minmax(100px, 840px);
  -ms-grid-rows: minmax(50px, 105px) minmax(50px, 524px);
      grid-template-rows: minmax(50px, 105px) minmax(50px, 524px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px 20px;
}

.product__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.product__img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.product__text {
  font-size: 20px;
  line-height: 188.5%;
}

.tool {
  padding: 75px 0;
}

.tool__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 400px))[4];
      grid-template-columns: repeat(4, minmax(50px, 400px));
  gap: 40px 20px;
}

.tool__card {
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(50px, 231px) minmax(30px, 81px);
  -ms-grid-columns: 1fr;
      grid-template: minmax(50px, 231px) minmax(30px, 81px)/1fr;
  -webkit-box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.17);
          box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.17);
}

.tool__card-name {
  font-size: 20px;
  line-height: 130%;
  padding: 0 17px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tool__text {
  max-width: 100%;
  margin-bottom: 40px;
}

.tool img {
  height: 231px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(4px 4px 13px rgba(0, 0, 0, 0.17));
          filter: drop-shadow(4px 4px 13px rgba(0, 0, 0, 0.17));
}

.tool__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.tool__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(50px, 231px) minmax(50px, 415px);
      grid-template-rows: minmax(50px, 231px) minmax(50px, 415px);
  -webkit-box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.17);
          box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.17);
}

.tool__body {
  padding: 27px 28px 28px 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tool__body-name {
  font-size: 20px;
  line-height: 130%;
}

.tool__list {
  margin-top: auto;
}

.tool__list li {
  font-size: 20px;
  line-height: 130%;
  padding-left: 31px;
  position: relative;
}

.tool__list li::before {
  position: absolute;
  content: "";
  left: 14px;
  top: 10px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #323232;
}

.calculate {
  padding: 109px 0 150px;
}

.calculate__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(20px, 70px) minmax(20px, 190px) minmax(20px, 68px);
  -ms-grid-columns: minmax(100px, 764px) minmax(100px, 840px);
      grid-template: minmax(20px, 70px) minmax(20px, 190px) minmax(20px, 68px)/minmax(100px, 764px) minmax(100px, 840px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 55px 20px;
}

.calculate__title, .calculate__text {
  margin: 0;
}

.calculate__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.calculate__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  max-width: 672px;
}

.calculate__link {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.calculate__img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

.contacts {
  padding: 109px 0 150px;
}

.contacts__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 700px) minmax(100px, 840px);
      grid-template-columns: minmax(100px, 700px) minmax(100px, 840px);
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__item + .contacts__item {
  margin-top: 35px;
}

.contacts__title {
  margin-bottom: 57px;
}

.contacts__subtitle {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 9px;
}

.contacts__phone, .contacts__email, .contacts__address {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 30px;
  line-height: 130%;
}

.contacts__phone + .contacts__phone {
  margin-top: 17px;
}

.contacts__map {
  overflow: hidden;
}

.footer {
  padding: 58px 0 64px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright, .footer__email, .footer__phone {
  font-size: 20px;
  line-height: 130%;
  opacity: 0.44;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 25px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 18px;
}

.footer__item a {
  opacity: 0.95;
}

.footer__images {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 46px;
  height: 46px;
  background: #fff101;
}

@media (max-width: 1550px) {
  .header-nav__menu {
    gap: 0 45px;
  }
}

@media (max-width: 1300px) {
  .header-nav__nav {
    margin-left: 155px;
  }
  .header-nav__menu {
    gap: 0 25px;
  }
  .header-nav__phone {
    font-size: 20px;
  }
  .footer {
    padding: 40px 0;
  }
  .footer__list {
    gap: 0 15px;
  }
}

@media (max-width: 1150px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px 0;
  }
}

@media (max-width: 1100px) {
  .header-nav__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0%;
    background: palevioletred;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px 0px;
    margin: 0;
    overflow: hidden;
    -webkit-transition: 0.7s ease-in;
    transition: 0.7s ease-in;
    z-index: 1;
  }
  .header-nav__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px 0;
  }
  .header-nav__btn {
    display: block;
  }
  .header-nav__link {
    font-size: 26px;
  }
  .header-nav__phone {
    font-size: 32px;
  }
  .header-nav__nav--active {
    height: 100%;
  }
}

@media (max-width: 820px) {
  .header-nav {
    padding: 15px 0;
  }
  .header-nav__logo img {
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 425px) {
  .footer {
    text-align: center;
    padding: 30px 0;
  }
  .footer__copyright {
    font-size: 18px;
  }
  .footer__images {
    width: 35px;
    height: 35px;
  }
  .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px 10px;
  }
}

@media (max-width: 320px) {
  .header-nav__menu {
    gap: 10px 0;
  }
  .header-nav__link {
    font-size: 22px;
  }
  .header-nav__phone {
    font-size: 22px;
  }
}

@media (max-width: 1550px) {
  .banner {
    padding: 120px 0;
  }
  .home-about {
    padding: 100px 0 75px;
  }
}

@media (max-width: 1440px) {
  .banner {
    padding: 80px 0;
  }
  .home-about__title {
    margin-bottom: 35px;
  }
}

@media (max-width: 1024px) {
  .banner__title {
    max-width: 795px;
    margin-bottom: 30px;
  }
  .home-about {
    padding: 75px 0;
  }
}

@media (max-width: 992px) {
  .home-about {
    padding: 60px 0;
  }
  .home-about__text + .home-about__text {
    margin-top: 30px;
  }
  .home-about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px 0;
  }
  .home-about__content {
    max-width: 100%;
    width: 100%;
  }
  .home-about__content img {
    width: 100%;
    height: 455px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
}

@media (max-width: 820px) {
  .banner {
    padding: 60px 0;
  }
  .banner__title {
    max-width: 100%;
    font-size: 50px;
  }
  .banner__link {
    padding: 18px 30px;
    font-size: 18px;
    line-height: 110%;
    border-radius: 3px;
  }
}

@media (max-width: 425px) {
  .banner {
    padding: 40px 0;
  }
  .banner__title {
    font-size: 38px;
    text-align: center;
  }
  .banner__link {
    padding: 15px 22px;
    margin: 0 auto;
  }
  .home-about {
    padding: 40px 0;
  }
  .home-about__text {
    font-size: 17px;
    line-height: 175.5%;
  }
  .home-about__content img {
    height: 355px;
  }
}

@media (max-width: 390px) {
  .banner__form {
    gap: 0 8px;
  }
  .home-about__title {
    margin-bottom: 25px;
  }
  .home-about__text {
    text-align: center;
  }
  .home-about__content img {
    height: 300px;
  }
}

@media (max-width: 375px) {
  .banner__title {
    font-size: 34px;
  }
  .banner__link {
    padding: 12px 18px;
  }
}

@media (max-width: 360px) {
  .banner__link {
    font-size: 17px;
  }
}

@media (max-width: 320px) {
  .banner__title {
    font-size: 30px;
  }
  .banner__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px 0;
  }
  .banner__link {
    width: 100%;
    text-align: center;
  }
  .home-about__content img {
    height: 250px;
  }
}
/*# sourceMappingURL=style.css.map */