// @media (max-width: 1920px) {
//   .home-about {
//     background: paleturquoise;
//   }
// }

@media (max-width: 1550px) {
  .banner {
    padding: 120px 0;
  }
  .home-about {
    padding: 100px 0 75px;
  }
}

@media (max-width: 1440px) {
  .banner {
    padding: 80px 0;
  }
  .home-about {
    &__title {
      margin-bottom: 35px;
    }
  }
}

@media (max-width: 1300px) {
}

@media (max-width: 1150px) {
}

@media (max-width: 1100px) {
}

@media (max-width: 1024px) {
  .banner {
    &__title {
      max-width: 795px;
      margin-bottom: 30px;
    }
  }
  .home-about {
    padding: 75px 0;
  }
}

@media (max-width: 992px) {
  .home-about {
    padding: 60px 0;
    &__text + .home-about__text {
      margin-top: 30px;
    }
    &__inner {
      display: flex;
      flex-wrap: wrap;
      gap: 15px 0;
    }
    &__content {
      max-width: 100%;
      width: 100%;
      img {
        width: 100%;
        height: 455px;
        object-fit: cover;
        object-position: bottom;
      }
    }
  }
}

@media (max-width: 820px) {
  .banner {
    padding: 60px 0;
    &__title {
      max-width: 100%;
      font-size: 50px;
    }
    &__link {
      padding: 18px 30px;
      font-size: 18px;
      line-height: 110%;
      border-radius: 3px;
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 425px) {
  .banner {
    padding: 40px 0;
    &__title {
      font-size: 38px;
      text-align: center;
    }
    &__link {
      padding: 15px 22px;
      margin: 0 auto;
    }
  }
  .home-about {
    padding: 40px 0;
    &__text {
      font-size: 17px;
      line-height: 175.5%;
    }
    &__content {
      img {
        height: 355px;
      }
    }
  }
}

@media (max-width: 414px) {
}

@media (max-width: 390px) {
  .banner {
    &__form {
      gap: 0 8px;
    }
  }
  .home-about {
    &__title {
      margin-bottom: 25px;
    }
    &__text {
      text-align: center;
    }
    &__content {
      img {
        height: 300px;
      }
    }
  }
}

@media (max-width: 375px) {
  .banner {
    &__title {
      font-size: 34px;
    }
    &__link {
      padding: 12px 18px;
    }
  }
}

@media (max-width: 360px) {
  .banner {
    &__link {
      font-size: 17px;
    }
  }
}

@media (max-width: 320px) {
  .banner {
    &__title {
      font-size: 30px;
    }
    &__form {
      flex-direction: column;
      gap: 10px 0;
    }
    &__link {
      width: 100%;
      text-align: center;
    }
  }
  .home-about {
    &__content {
      img {
        height: 250px;
      }
    }
  }
}
