@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
@import "fonts";
@import "vars";
@import "reset";
@import "global";
.index {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(221, 6, 238, 1) 0%, rgba(24, 92, 237, 1) 100%);
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100vh;
  }
  a {
    // font-size: 34px;
    color: #fff;
    text-align: center;
    font-size: calc(22px + 12 * (100vw / 1920));
    transition: 0.4s ease-out;
    &:hover {
      color: purple;
    }
  }
}
@media (max-width: 767px) {
  .index {
    a {
      font-size: calc(22px + (12 + 12 * 0.7) * ((100vw - 320px) / 1920));
    }
  }
}
// .header {
//   background: rgba(24, 92, 237, 0.2);
// }
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0 25px;
  &__logo {
    position: absolute;
    top: 0;
  }
  &__menu {
    display: flex;
    align-items: center;
    margin-left: 188px;
    gap: 0 90px;
  }
  &__link {
    font-size: 18px;
    line-height: 188.5%;
  }
  &__phone {
    @extend %inter-700;
    font-size: 24px;
    line-height: 188.5%;
  }
}
.banner {
  background: linear-gradient(89.63deg, #000 0.32%, rgba(#000, 0) 101.15%),
    url("../img/home/bg.jpg") center center no-repeat;
  padding: 179px 0;
  &__title {
    max-width: 695px;
    @extend %circe-700;
    font-size: 55px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 51px;
  }
  &__form {
    display: flex;
    align-items: center;
    gap: 0 23px;
  }
}
.home-about {
  padding: 150px 0 75px;
  &__inner {
    display: grid;
    grid-template-columns: minmax(100px, 840px) minmax(100px, 737px);
    justify-content: space-between;
    // background: yellowgreen;
    gap: 0 30px;
  }
  &__title {
    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background: #d8232a;
      width: 14px;
      height: 8px;
    }
  }
  &__text {
    @extend %inter-300;
    font-size: 20px;
    line-height: 188.5%;
    color: #000;
  }
  &__text + .home-about__text {
    margin-top: 60px;
  }
}
.certificate {
  padding: 75px 0;
  &__content {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 400px));
    justify-content: space-between;
    gap: 20px;
  }
  &__card {
    display: grid;
    place-items: center;
    min-height: 583px;
    background: rgba(#d9d9d9, 0.45);
  }
}
.footer {
  // background: rgba(24, 92, 237, 0.2);
  padding: 58px 0 64px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__copyright,
  &__email,
  &__phone {
    @extend %circe-300;
    font-size: 20px;
    line-height: 130%;
    opacity: 0.44;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 0 25px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 0 18px;
    a {
      opacity: 0.95;
    }
  }
  &__images {
    display: grid;
    place-items: center;
    width: 46px;
    height: 46px;
    background: #fff101;
  }
}
@import "media";
